      <div class="container mt-5">
          <div class="row justify-content-center ">
              <div class="col-10">
                  <div class="card ">
                      <div class="card-body">
                          <h1 class="text-center mb-4 text-light">Todo List App</h1>
                          <div class=" mb-5 ">
                            <input class="mb-3 d-block" type="text" placeholder="Task Name" [(ngModel)]="taskObj.taskName">
                            <input type="text" placeholder="Task Description" [(ngModel)]="taskObj.taskDescription">
                            @if(taskObj.itemId == 0){
                              <button class="btn btn-primary float-end" (click)="addTask()">Add</button>
                            }@else{
                              <button class="btn btn-warning float-end" (click)="onUptateTask()">Update</button>
                            } 
                          </div>
                          <ul class="list-group mb-4">
                            @for(item of taskList; track 'itemId'){
                            <li class=" d-flex justify-content-between align-items-center mb-3">
                              <span class="text-light">{{item.taskDescription}}</span>
                              <div>
                                  <input type="checkbox" class="form-check-input me-2"  data-bs-toggle="tooltip" title="complet Task">
                                  <button (click)="onEdit(item)" class="btn btn-warning btn-sm me-2" data-bs-toggle="tooltip" title="Edit Task">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                  </button>
                                  <button (click)="onDelete(item.itemId)"  class="btn btn-danger btn-sm" data-bs-toggle="tooltip" title="Delete Task">
                                    <i class="fa-solid fa-trash-can"></i>
                                  </button>
                              </div>
                          </li>
                        }
                      </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      

                            
  <router-outlet />
  
  
  